.row-container{
    display: flex;
    justify-content: space-between;
}
.column-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
    text-transform: none;
    box-sizing: border-box;
    outline: none; 
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}
/*
[type="checkbox"]{
    cursor: pointer;
}*/
body{
    overflow-y:scroll;
    height: 100%;
}
.modal-content{

    background: #fff;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}
    
.modal-content .modal-head{
        width: 100%;
}
    
.modal-content .modal-head p{
        line-height: 60px;
        text-align: center;
}
.modal-content .modal-body{
        width: 80%;
}
.modal-content .modal-foot{
        width: 90%;
        border-top:solid 1px #d8d8d8;
        height: 55px;
        display: flex;
        align-items: center; 
}
    
.modal-content .v-line{
        flex: 0 0 1px;
        height: 40%;
        background: #d8d8d8
}
.modal-content .modal-foot button{
        background: #fff; 
        margin: 0 20px;
        flex: 1 0 0;
}

    
.header li a {
    display: block;
    padding: 5px 6px;
    color: #ecedf1;
    transition: color 0.5s;
}
.header .menu{
    align-items: center;
    flex-wrap: wrap;
}
.header .menu li:not(:last-of-type){
 margin-right:20px;
}

.header li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header li>a:hover {
    color: #1C9FCE;
}
.header .submenu {
    display: none;
    background: #fff;
    box-shadow: 0 0 6px 0;
    position: absolute;
    z-index: 3;
    text-align: center;
    width: 93px;
    top: 35px;
    padding: 5px 0 10px 0; 
}

.header li:hover .submenu {
    display: flex;
    flex-direction: column;
}
.header li .submenu a{
    color: #000000;
    transition: all 0.5s;
}
.header li .submenu a:hover{
    background: #CBCBCB;
    text-align: center;
}


.header {
    min-height: 50px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #333333;
    border-bottom:solid 1px rgb(77, 77, 77);
}

.header .modal-content {
    width: 460px;
    height: 500px;
    border-radius: unset;

}
.header .brand{
    margin-left: 30px;
    height: 32px;
    width: 137px;
    background: url(images/logo.png) no-repeat;
    background-size: cover;
}

.header .user-menu{
    flex: 0 0 200px;
    display: flex;
    justify-content: flex-end;
margin-right: 40px;
    align-items: center;
}
.header .user-menu> button:first-child{
    margin-right: 20px;

}

.header .user-icon{
    height: 28px;
    width: 28px;
    background: url(images/user-menu-icon.png) no-repeat;
    background-size: cover;
}
.btn{
    color: #1C9FCE;
    flex: 0 0 93px;
    cursor: pointer;
    height: 33px;
    border:none;

}
.btn-default{
    color: #fff;
    background: #1C9FCE;
    border:none;
}
.btn-border{
    
    border:solid 1px #D8D8D8;
    color: #1C9FCE;
    background: #fff;
}

.btn-dark{
    border: solid 1px rgb(77, 77, 77,0.7);
    background: #333;
    color: #fff;
}
.page-title{
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    margin: 0 5%;
}
.bg-img{
width: 100%;

display: flex;
align-items: center;

justify-content: space-around;
}
.stock-list{
    width: 100%;
    padding: 10px 30px;
    min-width:500px;
    margin-bottom: 100px;
}
.table-control{
    width: 100%;
 display: flex;
 justify-content: flex-start;


}
.btn-group{
    display: flex;

    justify-content: flex-start;
    margin: 10px;

}

.btn-group button:not(:first-of-type){
    border-left:none;
}
.stock-result-count{
    
    display: flex;
    justify-content: space-between;

}
.stock-result-count p{
    line-height: 28px;
    font-size: 14px;
    padding: 0 10px;
    color: #7B7B7B;

}
.table-default{
    font-size: 14px;
    width: 100%;
    min-width:500px;
}
thead,tbody{
    display:flex;
    flex-direction: column;
    align-items:stretch;
    width:100%;
  }
  table tr{
    flex:0 0 30px;
    display:flex;
  }
  table td,th{
    flex:1 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


.table-default tr:nth-of-type(2n+2){
background: #F5F5F5;
}
.table-default th{
    font-weight: 400;
    background: #989898;
    color: #fff;
}
.table-default th,td{
    padding: 5px;
    border:solid 1px #D8D8D8;
}
.table-default th[data-onclick]{
    cursor: pointer;
}
.pagination{
    margin-top:10px; 
    display: flex;
    justify-content: flex-end;
}
.pagination> ul{
    display: flex;
}
.pagination> ul> li{
    display: inline-block;
    height: 26px;
    width: 26px;
    line-height: 24px;
    margin-left: 10px;
    border: solid 1px #1C9FCE;
    border-radius: 4px;
    cursor: pointer;
}
.pagination> ul> li.active{
    background: #1C9FCE;
    color:#fff;
}
.pagination> ul> li.more{
    border:none;
    cursor: default;
}

.pagination> ul> li span{
    display: inline-block;
    width: 100%;
    height: 26px;
    font-size:14px;
    line-height: 26px;
    text-align: center;
}
/* 用户登陆后台*/
.user-dashboard{


    width: 100%;
    height: 100%;
    background: #F2F2F2;
    align-items: center;
}

.user-dashboard .user-board{
    justify-content: flex-start;
    width: 90%;
    height: 190px;
    padding: 20px;
    background: #445994;
    min-width: 600px;
}
.user-board-avatar{
    flex: 0 0 130px;
}
.user-board-avatar img{
    width: 130px;
    height: 130px;
    border-radius:50%; 
}
.user-board-middle{
    margin-left:20px;
    flex: 1 0 0;
    justify-content: flex-start;
}
.user-board-middle p:nth-of-type(1){
    color: #fff;
    margin-top: 20px;
}
.user-board-middle p:nth-of-type(2){
    color: #fff;
    margin-top:5px;
    font-size:14px;
}
.edit-user-info{
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.edit-user-info .balance-info{
    margin-top: 8px;
}
.edit-user-info .balance-info span:nth-of-type(1){
    margin-right: 50px;
}
.edit-user-info .balance-info span:nth-of-type(2){
   display: inline-block;
   height: 20px;
   border-bottom: solid 1px #fff;
   cursor: pointer;
}
.edit-user-info a{
    flex:0 0 110px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border:solid 2px #BDBDBD;
    color:#BDBDBD;
    
    border-radius: 15px;
    
}
.user-board-right{
    margin-right: 50px;
    flex: 0 0 150px;
    justify-content: flex-end;
    align-items: center;
}
.user-board-right img{
    width: 61px;
    height: 75px;
}
.user-board-right .v-line{
    margin-right:40px;
    width: 3px;
    height: 104px;
    border-radius: 1.5px;
    background: #818FB6;
}
.user-board-right p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

/*dashboard 设置项的tab选择*/
.user-dashboard .dashboard-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    min-width: 600px;
}
.dashboard-tab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #fff;
    min-width: 600px;
}
.dashboard-tab .tab-menu{
width: 90%;

}
.tab-menu li{
    cursor: pointer;
}
.dashboard-tab .tab-menu li{
display: inline-block;
height: 48px;
line-height: 48px;


}

.dashboard-tab .tab-menu li.active{
border-bottom:solid 4px  #1C9FCE;
color: #1C9FCE;

}

.dashboard-body .dashboard-content{
    padding:20px;
    background: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 500px;

}

.stock-collection-body{
    width: 100%;
}
.stock-collection-tab ul{
    justify-content:flex-start;
    width: 100%;
    
}
.stock-collection-tab ul li{
    color: #1C9FCE;
    font-size: 14px;
    padding-top:3px; 
    height: 40px;
    line-height: 36px;
    padding-left:30px;
    padding-right: 30px; 
    text-align: center;
    border-bottom:solid 1px #D8D8D8; 
}

.stock-collection-tab ul li:last-of-type{
    flex:1 0 0;

    cursor: default;
    border-bottom:solid 1px #D8D8D8; 
}

.stock-collection-tab ul li.active{
    color: #000000;
    line-height: 34px;
    padding-left:29px;
    padding-right: 29px; 
    border:solid 1px #D8D8D8; 
    border-bottom:none;
}


/* modal */
.modal{
    position: absolute;
}
.modal-bg{
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    text-align: center;
}

.stock-collection-content .btn-group{
    flex:1 0 0;
    justify-content: flex-end;
}

.stock-collection-body .modal-content{
width: 380px;
height: 200px;
}